<ion-view view-title="About">
    <ion-content class="padding">
        <ion-item>
            <ion-card>

                <ion-card-content class="item-text-wrap">
                    <ion-card-title>
                        BusCafé
                    </ion-card-title>
                    <div style="margin-top: 20px; margin-bottom: 50px;">
                        <p>Con esta aplicación se buscó crear una app simple y rápida para buscar cafeterias cercanas a nuestra posición.</p>
                        <br />
                        <p class="text-right">
                            Anibal Ardid
                        </p>
                    </div>
                </ion-card-content>

                <ion-row>
                    <ion-col>
                        <a href="http://twitter.com/aardid" target="_blank"><i class="icon iconabout ion-social-twitter-outline"></i></a>
                    </ion-col>
                    <ion-col>
                        <a href="https://github.com/anibalardid/buscafe" target="_blank"><i class="icon iconabout ion-social-github"></i></a>
                    </ion-col>
                    <ion-col center text-center>
                        <a href="http://www.ardid.com.ar" target="_blank"><i class="icon iconabout ion-ios-world-outline"></i></a>
                    </ion-col>
                    <ion-col>
                        <a href="mailto:anibalardid@gmail.com" target="_blank"><i class="icon iconabout ion-ios-email-outline"></i></a>
                    </ion-col>
                </ion-row>

            </ion-card>
        </ion-item>
    </ion-content>
</ion-view>